/*для смартфонов*/
@media(max-width:1024px){
    #content_bg {
        padding: 30px;
        min-height: 600px;
        margin: 15px;
    }
    
    #work-link {
        margin: 0px;
    }
    
    #links-outer {
        margin-top: 30px;
        text-align: left;
    }
    
    .main-btn {
        padding: 0px;
    }
}

/*для ноутов*/
@media(min-width:1366px){
    #content_bg {
       width: 1016px;
    }
    
    .contact-links{
        display: inline-block;
    }

}